{% extends 'base.html.twig' %}

{% block title %}Editarmatricula{% endblock %}

{% block body %}
<h1>MATRICULA</h1>

<h3>Cursos seleccionados</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Creditos</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for matricula in alumno.matricula %}
                <tr>
                    <td>{{ matricula.idCurso.nombre }}</td>
                    <td>{{ matricula.idCurso.creditos }}</td>
                    <td>
                        <a href="{{ path('app_eliminarmatricula', {'id': matricula.id}) }}">Eliminar</a>
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="4">Sin registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h3>Cursos disponibles</h3>
{% set cursosDisponibles = [] %} {# Variable para contar los cursos disponibles #}
{% for curso in cursos %}
    {% set matriculado = false %}
    {% for matricula in alumno.matricula %}
        {% if matricula.idCurso.nombre == curso.nombre %}
            {% set matriculado = true %}
        {% endif %}
    {% endfor %}
    
    {% if not matriculado %}
        {% set cursosDisponibles = cursosDisponibles|merge([curso]) %} {# Agregar el curso a la lista de cursos disponibles #}
    {% endif %}
{% endfor %}

{% if cursosDisponibles|length > 0 %} {# Verificar si hay cursos disponibles #}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Creditos</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursosDisponibles %}
                <tr>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.creditos }}</td>
                    <td>
                        <a href="{{ path('app_nuevamatricula', {'id': curso.id}) }}">Añadir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Sin registros</p> {# Mostrar mensaje si no hay cursos disponibles #}
{% endif %}

    <a href="{{ path('app_perfil') }}">Volver a mi perfil</a>
{% endblock %}
