{% extends 'base.html.twig' %}

{% block title %}Editarmatricula{% endblock %}

{% block body %}
<h1>MATRICULA</h1>

<h3>Cursos seleccionados</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Creditos</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for matricula in alumno.matricula %}
                <tr>
                    <td>{{ matricula.idCurso.nombre }}</td>
                    <td>{{ matricula.idCurso.creditos }}</td>
                    <td>
                        <a href="{{ path('app_eliminarmatricula', {'id': matricula.id}) }}">Eliminar</a>
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="4">Sin registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h3>Cursos disponibles</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Creditos</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                {% set estaMatriculado = false %}
                {% for matricula in alumno.matricula %}
                    {% if matricula.idCurso.nombre == curso.nombre %}
                        {% set estaMatriculado = true %}
                    {% endif %}
                {% endfor %}
                
                {% if not estaMatriculado %}
                    <tr>
                        <td>{{ curso.nombre }}</td>
                        <td>{{ curso.creditos }}</td>
                        <td>
                            <a href="{{ path('app_nuevamatricula', {'id': curso.id}) }}">Añadir</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="3">Sin registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_perfil') }}">Volver a mi perfil</a>
{% endblock %}
