{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}

    <h1> Perfil de alumno</h1>
    <h2>Datos del alumno:</h2>
    <p>DNI: {{ alumno.dni }}</p>
    <p>Nombre completo: {{ alumno.nombre }}  {{ alumno.apellidoPaterno }}  {{ alumno.apellidoMaterno }}</p>
    {% if alumno.roles|length == 1 and 'ROLE_USER' in alumno.roles %}
        <p>Rol: Alumno general</p>
    {% endif %}

    {% if 'ROLE_DELEGATE' in alumno.roles %}
        <p>Rol: Delegado de carrera</p>
    {% endif %}
    <a href="{{ path('app_editaralumno') }}">Editar datos</a>
    <br>

    <h2>Cursos Matriculados:</h2>
        {% if alumno.matricula is not empty %}
            <ul>
                {% for matricula in alumno.matricula %}
                    <li>{{ matricula.idCurso.nombre }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tiene cursos matriculados.</p>
        {% endif %}
        <a href="{{ path('app_editarmatricula') }}">Editar matricula</a>
    <br><br>
    {% if 'ROLE_DELEGATE' in alumno.roles %}
        <a href="{{ path('app_curso_index') }}">Administrar cursos</a>
    {% endif %}

{% endblock %}
